<!--     ####################
         #WIKIPEDIA ARTICLES#
         ####################
-->          

          <section id="wiki">
            <h2>Wikipedia</h2>
            <p class="text-justify">
              <a
                href="https://en.wikipedia.org/wiki/Lists_of_unsolved_problems"
                class="text-black"
                target="_blank"
                rel="nooperner noreferrer"
                ><b>List of Unsolved Problems</b></a
              ><i
                >: A good place to start. Don't click on anything you don't want
                to see.</i
              >
            </p>
            <p class="text-justify">
              <a
                href="https://en.wikipedia.org/wiki/List_of_countries_that_have_gained_independence_from_the_United_Kingdom"
                class="text-black"
                target="_blank"
                rel="nooperner noreferrer"
                ><b>List of countries that have gained independence from the United Kingdom</b></a
              ><i
                >: Let's just say, there are a lot of them.</i
              >
            </p>
            <p class="text-justify">
              <a
                href="https://en.wikipedia.org/wiki/United_States_involvement_in_regime_change"
                class="text-black"
                target="_blank"
                rel="nooperner noreferrer"
                ><b>United States involvement in regime change</b></a>
              <i
                >: Again, that's a lot of countries.</i
              >
            </p>
            <p class="text-justify">
              <a
                href="https://en.wikipedia.org/wiki/S.M._(patient)"
                class="text-black"
                target="_blank"
                rel="nooperner noreferrer"
                ><b>S.M. (patient)</b></a>
              <i
                >: Case of a woman who does not experience fear.</i
              >
            </p>
            <p class="text-justify">
              <a
                href="https://en.wikipedia.org/wiki/Pitch_drop_experiment"
                class="text-black"
                target="_blank"
                rel="nooperner noreferrer"
                ><b>Pitch Drop Experiment</b></a>
              <i
                >: A very long experiment watching tar droplets.</i
              >
            </p>          
          </section>